@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Italic.woff2') format('woff2'),
        url('../font/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Medium.woff2') format('woff2'),
        url('../font/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Bold.woff2') format('woff2'),
        url('../font/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-SemiBold.woff2') format('woff2'),
        url('../font/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Light.woff2') format('woff2'),
        url('../font/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Regular.woff2') format('woff2'),
        url('../font/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

